<h1>DPL's Top 100</h1>

<%= link_to 'New Song', new_song_path %>

<ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to song.title, song_path(song) %> <br />
      <%= link_to song.artist, song_path(song) %>
    </li>
  <% end %>
</ul>
